In [1]:
import bs4 as bs
import urllib.request as url

In [2]:
source = url.urlopen('https://www.yelp.com/search?find_desc=&find_loc=San%20Francisco%20Bay%20Area%2C%20CA')

In [3]:
page_soup = bs.BeautifulSoup(source, 'html.parser')

In [4]:
import csv
csvfile = open('home.csv','w', newline='')
obj = csv.writer(csvfile)
persons=[('Restaurant_name', 'Restaurant_rating', 'Restaurant_noreview', 'Restaurant_address', 'Restaurant_phone', 'Restaurant_review')]
obj.writerows(persons)
major = page_soup.find_all("p", {"class": "lemon--p__373c0__3Qnnj text__373c0__2pB8f text-color--black-regular__373c0__38bRH text-align--left__373c0__2pnx_ text-size--inherit__373c0__2gFQ3"})        
for i in range (len(major)):
    try:
        name = page_soup.find_all("p", {"class": "lemon--p__373c0__3Qnnj text__373c0__2pB8f text-color--black-regular__373c0__38bRH text-align--left__373c0__2pnx_ text-size--inherit__373c0__2gFQ3"})
        name = name[i].text
        print(f"Restaurant_name: {name}")
    except:
        print(None)
    try:
        rating = page_soup.find_all("div", {"class": "lemon--div__373c0__1mboc attribute__373c0__1hPI_ display--inline-block__373c0__2de_K u-space-r1 border-color--default__373c0__2oFDT"})
        rating = rating[1].div.get("aria-label")
        print(f"Restaurant_rating: {rating}")
    except:
        print(None)
    try:
        no_reviews = page_soup.find_all("div", {"class": "lemon--div__373c0__1mboc attribute__373c0__1hPI_ display--inline-block__373c0__2de_K border-color--default__373c0__2oFDT"})            
        no_reviews = no_reviews[i].text
        print(f"Restaurant_noreview: {no_reviews}")
    except:
        print(None)
    try:
        address = page_soup.find_all("address", {"class": "lemon--address__373c0__2sPac"})
        address = address[i].text
        print(f"Restaurant_address: {address}")
    except:
        print(None)
    try:
        phone = page_soup.find_all("div", {"class": "lemon--div__373c0__1mboc container__373c0__19wDx u-padding-l2 border-color--default__373c0__2oFDT text-align--right__373c0__3fmmn"})
        phone = phone[i].text
        phone = ''.join(i for i in phone if i.isdigit())
        print(phone)
    except:
        print(None) 
    try:
        review = page_soup.find_all("p", {"class": "lemon--p__373c0__3Qnnj text__373c0__2pB8f text__373c0__2P1WD alternateStyling__373c0__2ithU text-color--normal__373c0__K_MKN text-align--left__373c0__2pnx_"})
        review = review[i].text
        print(f"Restaurant_review: {review}")
    except:
        print(None) 
    
    persons=[(name, rating, no_reviews, address, phone, review)]
    obj.writerows(persons)
csvfile.close()

Restaurant_name: illy Caffè
Restaurant_rating: 4 star rating
Restaurant_noreview: 12 reviews
Restaurant_address: 301 Clay St
4158729575301
Restaurant_review: “I had a latté and it was one of the better ones I've had in a while. The chocolate cantuccinni was decent while the bar (I forget the name) was better than expected; it was like a…” read more
Restaurant_name: 1. Homeroom
Restaurant_rating: 4 star rating
Restaurant_noreview: 5476 reviews
Restaurant_address: 400 40th St
510597040040040
Restaurant_review: “BEST

Get jalapeño popper
Get another for the next day
Get limeade
And get a bunch of Oreos for the week

10/5 wish I could rate higher” read more
Restaurant_name: 2. Arizmendi Bakery
Restaurant_rating: 4 star rating
Restaurant_noreview: 1319 reviews
Restaurant_address: 3265 Lakeshore Ave
51026888493265
Restaurant_review: “I love institutions like this that have long-standing reputations, and are proud to live up to them. What's not to like?? A gigantic bakery with fresh bread…” read more
Restaurant_name: 3. Fentons Creamery
Restaurant_rating: 4 star rating
Restaurant_noreview: 4493 reviews
Restaurant_address: 4226 Piedmont Ave
51065870004226
Restaurant_review: “Why Fenton's has over 4400 Yelp reviews is beyond me - but I had to see for myself! I swung by with a couple friends around 7pm after dinner on a Friday. The…” read more
Restaurant_name: 4. Vientian Café
Restaurant_rating: 4 star rating
Restaurant_noreview: 921 reviews
Restaurant_address: 3801 Allendale Ave
51053522183801
Restaurant_review: “Beef larb, medium rare, medium spicy tasty, would order again or try rare.
Kao piak, chicken soup noodle, would be good especially if feel sick or not we'll…” read more
Restaurant_name: 5. Zachary’s Chicago Pizza
Restaurant_rating: 4 star rating
Restaurant_noreview: 3515 reviews
Restaurant_address: 5801 College Ave
51065563855801
Restaurant_review: “If you are wanting some good deep dish pizza this is the place to be! Deep dish pizzas take about 30 to 45 mins to bake so make sure you give yourself enough…” read more
Restaurant_name: 6. Bakesale Betty
Restaurant_rating: 4 star rating
Restaurant_noreview: 4168 reviews
Restaurant_address: 5098 Telegraph Ave
51098512135098
Restaurant_review: “With limited opening hours, I have been wanting to check this place out for a while realizing that this is a classic fried chicken sandwich place in Temescal,…” read more
Restaurant_name: 7. Banh Mi Ba Le
Restaurant_rating: 4 star rating
Restaurant_noreview: 1034 reviews
Restaurant_address: 1909 International Blvd
51026198001909
Restaurant_review: “Quality: 10
Service: 10
Taste: 10
Wait time: 8
Presentation: 9

Best Bahn mi I've ever had in Oakland!! Hands-down, cheap and delicious, always will be going…” read more
Restaurant_name: 8. Champa Garden
Restaurant_rating: 4 star rating
Restaurant_noreview: 1935 reviews
Restaurant_address: 2102 8th Ave
510238881921028
Restaurant_review: “Another hidden treasure by the lake!
Love the pineapple rice with lap chong is fire!
Also the salmon is delicious neighbored treasure for sure would recommend…” read more
Restaurant_name: 9. Dimond Slice Pizza
Restaurant_rating: 4 star rating
Restaurant_noreview: 326 reviews
Restaurant_address: 2208 MacArthur Blvd
51084287732208
Restaurant_review: “We dropped by randomly on our drive home from hiking & I was pleasantly surprised by how great my experience was! The pizza concept is similar to Cheese Board…” read more
Restaurant_name: 10. Taqueria Sinaloa
Restaurant_rating: 4 star rating
Restaurant_noreview: 976 reviews
Restaurant_address: 2138 International Blvd
51053512062138
Restaurant_review: “Sketchy neighbourhood, but a mixed bag of patrons, and the food is worth it...

Had both chicken tacos and beef tacos ..
The beef was just "Ok" - the meat was…” read more

In [5]:
import numpy as np
import pandas as pd
df = pd.read_csv("home.csv")

In [6]:
df.head()

,Restaurant_name,Restaurant_rating,Restaurant_noreview,Restaurant_address,Restaurant_phone,Restaurant_review
0,illy Caffè,4 star rating,12 reviews,301 Clay St,4158729575301,“I had a latté and it was one of the better on...
1,1. Homeroom,4 star rating,5476 reviews,400 40th St,510597040040040,“BEST \n\nGet jalapeño popper \nGet another fo...
2,2. Arizmendi Bakery,4 star rating,1319 reviews,3265 Lakeshore Ave,51026888493265,“I love institutions like this that have long-...
3,3. Fentons Creamery,4 star rating,4493 reviews,4226 Piedmont Ave,51065870004226,“Why Fenton's has over 4400 Yelp reviews is be...
4,4. Vientian Café,4 star rating,921 reviews,3801 Allendale Ave,51053522183801,"“Beef larb, medium rare, medium spicy tasty, w..."



after scraping with a knive, the restaurant name still has digits and special characters, hmmmm.
regex to the call to save the world

In [7]:
import re
for i in range(len(df)):
    df['Restaurant_name'][i] = re.sub('([^a-zA-Z ]+?)', "", df['Restaurant_name'][i])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
df.head()

,Restaurant_name,Restaurant_rating,Restaurant_noreview,Restaurant_address,Restaurant_phone,Restaurant_review
0,illy Caff,4 star rating,12 reviews,301 Clay St,4158729575301,“I had a latté and it was one of the better on...
1,Homeroom,4 star rating,5476 reviews,400 40th St,510597040040040,“BEST \n\nGet jalapeño popper \nGet another fo...
2,Arizmendi Bakery,4 star rating,1319 reviews,3265 Lakeshore Ave,51026888493265,“I love institutions like this that have long-...
3,Fentons Creamery,4 star rating,4493 reviews,4226 Piedmont Ave,51065870004226,“Why Fenton's has over 4400 Yelp reviews is be...
4,Vientian Caf,4 star rating,921 reviews,3801 Allendale Ave,51053522183801,"“Beef larb, medium rare, medium spicy tasty, w..."

review is so annoying it has some crazy special characters tooo..... Contacting regex snipper 1,2,3 eliminate the target

hold up these are not special characters ,\n is a format for line break, ill scrape it off now.

In [9]:
for i in range(len(df)):
    df['Restaurant_review'][i] = re.sub('\n', "", df['Restaurant_review'][i])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
df.head()

,Restaurant_name,Restaurant_rating,Restaurant_noreview,Restaurant_address,Restaurant_phone,Restaurant_review
0,illy Caff,4 star rating,12 reviews,301 Clay St,4158729575301,“I had a latté and it was one of the better on...
1,Homeroom,4 star rating,5476 reviews,400 40th St,510597040040040,“BEST Get jalapeño popper Get another for the ...
2,Arizmendi Bakery,4 star rating,1319 reviews,3265 Lakeshore Ave,51026888493265,“I love institutions like this that have long-...
3,Fentons Creamery,4 star rating,4493 reviews,4226 Piedmont Ave,51065870004226,“Why Fenton's has over 4400 Yelp reviews is be...
4,Vientian Caf,4 star rating,921 reviews,3801 Allendale Ave,51053522183801,"“Beef larb, medium rare, medium spicy tasty, w..."

***c** this worked... Okay on to question no 1

# Q1 The set of all alphabetic strings

In [11]:
df["Restaurant_review_list"]= ""

In [12]:
from nltk import regexp_tokenize
patn = '\w+'
for i in range(len(df)):
    df["Restaurant_review_list"][i] = regexp_tokenize(df["Restaurant_review"][i], patn)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [13]:
df.head()

,Restaurant_name,Restaurant_rating,Restaurant_noreview,Restaurant_address,Restaurant_phone,Restaurant_review,Restaurant_review_list
0,illy Caff,4 star rating,12 reviews,301 Clay St,4158729575301,“I had a latté and it was one of the better on...,"[I, had, a, latté, and, it, was, one, of, the,..."
1,Homeroom,4 star rating,5476 reviews,400 40th St,510597040040040,“BEST Get jalapeño popper Get another for the ...,"[BEST, Get, jalapeño, popper, Get, another, fo..."
2,Arizmendi Bakery,4 star rating,1319 reviews,3265 Lakeshore Ave,51026888493265,“I love institutions like this that have long-...,"[I, love, institutions, like, this, that, have..."
3,Fentons Creamery,4 star rating,4493 reviews,4226 Piedmont Ave,51065870004226,“Why Fenton's has over 4400 Yelp reviews is be...,"[Why, Fenton, s, has, over, 4400, Yelp, review..."
4,Vientian Caf,4 star rating,921 reviews,3801 Allendale Ave,51053522183801,"“Beef larb, medium rare, medium spicy tasty, w...","[Beef, larb, medium, rare, medium, spicy, tast..."

so we have a list..... *(-)smiles*

# Question 2  The set of all lower case alphabetic strings ending in a b;

In [14]:
df["Restaurant_review_last_b"]= ""

In [15]:
for i in range(len(df)):
    list_b = []
    for j in range(len(df['Restaurant_review_list'][i])):
        current_list = df['Restaurant_review_list'][i]
        if not current_list[j][0].isupper():
            if re.search(r"b$", current_list[j]):
                list_b.append(current_list[j])
    df["Restaurant_review_last_b"][i] = list_b

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
df.head()

,Restaurant_name,Restaurant_rating,Restaurant_noreview,Restaurant_address,Restaurant_phone,Restaurant_review,Restaurant_review_list,Restaurant_review_last_b
0,illy Caff,4 star rating,12 reviews,301 Clay St,4158729575301,“I had a latté and it was one of the better on...,"[I, had, a, latté, and, it, was, one, of, the,...",[]
1,Homeroom,4 star rating,5476 reviews,400 40th St,510597040040040,“BEST Get jalapeño popper Get another for the ...,"[BEST, Get, jalapeño, popper, Get, another, fo...",[]
2,Arizmendi Bakery,4 star rating,1319 reviews,3265 Lakeshore Ave,51026888493265,“I love institutions like this that have long-...,"[I, love, institutions, like, this, that, have...",[]
3,Fentons Creamery,4 star rating,4493 reviews,4226 Piedmont Ave,51065870004226,“Why Fenton's has over 4400 Yelp reviews is be...,"[Why, Fenton, s, has, over, 4400, Yelp, review...",[]
4,Vientian Caf,4 star rating,921 reviews,3801 Allendale Ave,51053522183801,"“Beef larb, medium rare, medium spicy tasty, w...","[Beef, larb, medium, rare, medium, spicy, tast...",[larb]

regex hack tool box   https://stackabuse.com/using-regex-for-text-manipulation-in-python/

thank God that worked....

In [17]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/botosoftdev/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [18]:
df["polarity"]= ""

In [19]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as analyser

sia = analyser()
results = []

for i in range(len(df)):
    polarity_score = sia.polarity_scores(df["Restaurant_review"][i])
    results.append(polarity_score)
    
    
df["polarity"] = pd.DataFrame.from_records(results)
results

[{'neg': 0.044, 'neu': 0.764, 'pos': 0.192, 'compound': 0.7506},
 {'neg': 0.0, 'neu': 0.899, 'pos': 0.101, 'compound': 0.4019},
 {'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'compound': 0.932},
 {'neg': 0.0, 'neu': 0.867, 'pos': 0.133, 'compound': 0.6643},
 {'neg': 0.103, 'neu': 0.812, 'pos': 0.084, 'compound': -0.1689},
 {'neg': 0.0, 'neu': 0.851, 'pos': 0.149, 'compound': 0.6975},
 {'neg': 0.068, 'neu': 0.932, 'pos': 0.0, 'compound': -0.2263},
 {'neg': 0.0, 'neu': 0.843, 'pos': 0.157, 'compound': 0.6467},
 {'neg': 0.0, 'neu': 0.592, 'pos': 0.408, 'compound': 0.9347},
 {'neg': 0.0, 'neu': 0.735, 'pos': 0.265, 'compound': 0.8553},
 {'neg': 0.0, 'neu': 0.923, 'pos': 0.077, 'compound': 0.3291}]

In [20]:
df.head()

,Restaurant_name,Restaurant_rating,Restaurant_noreview,Restaurant_address,Restaurant_phone,Restaurant_review,Restaurant_review_list,Restaurant_review_last_b,polarity
0,illy Caff,4 star rating,12 reviews,301 Clay St,4158729575301,“I had a latté and it was one of the better on...,"[I, had, a, latté, and, it, was, one, of, the,...",[],0.7506
1,Homeroom,4 star rating,5476 reviews,400 40th St,510597040040040,“BEST Get jalapeño popper Get another for the ...,"[BEST, Get, jalapeño, popper, Get, another, fo...",[],0.4019
2,Arizmendi Bakery,4 star rating,1319 reviews,3265 Lakeshore Ave,51026888493265,“I love institutions like this that have long-...,"[I, love, institutions, like, this, that, have...",[],0.9320
3,Fentons Creamery,4 star rating,4493 reviews,4226 Piedmont Ave,51065870004226,“Why Fenton's has over 4400 Yelp reviews is be...,"[Why, Fenton, s, has, over, 4400, Yelp, review...",[],0.6643
4,Vientian Caf,4 star rating,921 reviews,3801 Allendale Ave,51053522183801,"“Beef larb, medium rare, medium spicy tasty, w...","[Beef, larb, medium, rare, medium, spicy, tast...",[larb],-0.1689

In [21]:
df["polarity_2"]= ""

In [22]:
df.loc[df['polarity'] >= 0.2, 'label'] = "Positive"
df.loc[df['polarity'] < 0.2, 'label'] = "Negative"

In [23]:
df.head()

,Restaurant_name,Restaurant_rating,Restaurant_noreview,Restaurant_address,Restaurant_phone,Restaurant_review,Restaurant_review_list,Restaurant_review_last_b,polarity,polarity_2,label
0,illy Caff,4 star rating,12 reviews,301 Clay St,4158729575301,“I had a latté and it was one of the better on...,"[I, had, a, latté, and, it, was, one, of, the,...",[],0.7506,,Positive
1,Homeroom,4 star rating,5476 reviews,400 40th St,510597040040040,“BEST Get jalapeño popper Get another for the ...,"[BEST, Get, jalapeño, popper, Get, another, fo...",[],0.4019,,Positive
2,Arizmendi Bakery,4 star rating,1319 reviews,3265 Lakeshore Ave,51026888493265,“I love institutions like this that have long-...,"[I, love, institutions, like, this, that, have...",[],0.9320,,Positive
3,Fentons Creamery,4 star rating,4493 reviews,4226 Piedmont Ave,51065870004226,“Why Fenton's has over 4400 Yelp reviews is be...,"[Why, Fenton, s, has, over, 4400, Yelp, review...",[],0.6643,,Positive
4,Vientian Caf,4 star rating,921 reviews,3801 Allendale Ave,51053522183801,"“Beef larb, medium rare, medium spicy tasty, w...","[Beef, larb, medium, rare, medium, spicy, tast...",[larb],-0.1689,,Negative

Time to do something else finally

But this sentiment analysis is really poor, a 2 year old kid can do better than this, cuz he knows when to cry when you speak a negative word.